


APP_URL="MY_APP_URL"

# MongoDB Atlas Connection URL / URI
MONGODB_URL=""
MONGODB_URI=""

# JWT Secret for Management Portal authentication
JWT_SECRET=""

# Email Service Configuration (Optional)
EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_USER=""
EMAIL_PASSWORD=""
EMAIL_FROM="The American Dream Staffing <noreply@theamericandreamstaffing.com>"
